.sidebar {

 width:260px;
 height:100vh;

 background:
 linear-gradient(
 180deg,
 #0c111d,
 #080b12
 );

 border-right:
 1px solid rgba(255,255,255,0.08);


 padding:28px 18px;


 display:flex;
 flex-direction:column;


}


/* Brand */


.sidebar-brand{

 display:flex;
 align-items:center;

 gap:14px;

 padding:0 10px;

 margin-bottom:55px;

}


.logo-box{

 width:44px;
 height:44px;


 display:flex;
 align-items:center;
 justify-content:center;


 border-radius:14px;


 background:
 linear-gradient(
 135deg,
 #6674ff,
 #3945d8
 );


 box-shadow:
 0 10px 30px
 rgba(102,116,255,0.35);

}



.sidebar-brand h2{

 margin:0;

 font-size:18px;

 color:white;

}



.sidebar-brand span{

 font-size:11px;

 color:#7d8495;

 letter-spacing:2px;

 text-transform:uppercase;

}



/* Menu */


.sidebar-menu{

 display:flex;

 flex-direction:column;

 gap:10px;

}



.sidebar-item{


 width:100%;

 border:none;

 background:transparent;


 color:#8991a5;


 display:flex;

 align-items:center;


 gap:14px;


 padding:14px 16px;


 border-radius:12px;


 cursor:pointer;


 font-size:14px;


 transition:
 all .3s ease;


}



.sidebar-item:hover{


 background:
 rgba(255,255,255,0.06);


 color:white;


 transform:translateX(5px);


}



.sidebar-item.active{


 background:
 linear-gradient(
 90deg,
 rgba(102,116,255,0.25),
 transparent
 );


 color:white;


 border-left:
 3px solid #6674ff;


}



/* Logout */


.logout-btn{


 margin-top:auto;


 border:none;

 background:transparent;


 color:#8991a5;


 display:flex;

 align-items:center;


 gap:14px;


 padding:14px 16px;


 border-radius:12px;


 cursor:pointer;


 transition:.3s;


}


.logout-btn:hover{


 background:
 rgba(255,80,80,0.12);


 color:#ff6b6b;


}